@font-face {
    font-family: 'star_nextregular';
    src: url('star_next-webfont.woff2') format('woff2'),
         url('star_next-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'crilleemedium';
    src: url('crillee-webfont.woff2') format('woff2'),
         url('crillee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#TNG1{
    padding-top: 40px;
    text-align: center;
    font-family: 'star_nextregular';
    color: rgb(0, 147, 221);
    
    text-shadow: -2.5px 2.5px 5px rgb(149, 196, 253) ;
}
#TNG2{
    text-align: center;
    font-family: 'star_nextregular';
    color: rgb(0, 147, 221);
    letter-spacing: 4px;
    text-shadow: -2.5px 2.5px 3px rgb(149, 196, 253) ;
}
#TNG3{
    text-align: center;
    font-family: 'star_nextregular';
    color: rgb(0, 147, 221);
    text-shadow: -2px 2.5px 3px rgb(149, 196, 253) ;
    padding-bottom: 40px;

}
.container{
    text-align: center;
}
.footer 
{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-family: 'crilleemedium';
        color: rgb(0, 147, 221);
        height: 40px;
       
}

body, html {
    height: 100%;
    color:white;
}

.bg { 
    /* The image used */
    background-image: url("../images/bg.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
   
   
    background-size: cover;
}
.jumbotron{
    color: rgb(0, 147, 221);
    font-family: 'crilleemedium';
    
    background-color: rgb(0, 0, 0, 0.4);
    border-style: solid;
    border-color:rgb(0, 147, 221);
}
.btn-danger{
    font-family: 'crilleemedium';
    text-shadow: -1px 1px 1px black;
}
.btn-warning{
    font-family: 'crilleemedium';
    text-shadow: -1px 1px 1px black;
    color:white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active  {
    text-shadow: -1px 1px 1px black;
    color:white;}
#timer{
    color: #CC6666;
    padding-bottom:20px;
}
#answersGoHere{
    color: #FF9900;
    
}
#questionsGoHere{
    padding-bottom: 20px;
}
#picturesGoHere{
    width:100px;
    height: auto;
}